[submodule "src/robot-research"]
path = src/robot-research
url = git@github.com:BigMuzzy/robot-research.git
branch = main
[submodule "src/esp32-s3-uros-controller"]
path = src/esp32-s3-uros-controller
url = git@github.com:BigMuzzy/esp32-s3-uros-controller.git
branch = main
[submodule "src/micro_ros_setup"]
path = src/micro_ros_setup
url = https://github.com/micro-ROS/micro_ros_setup.git
branch = jazzy
